
.title
{
    font-size: 4rem;
    color:rgb(177, 150, 0);
    background-color: aquamarine;
}

.head
{
    font-size: 2rem;
    text-align: center;
    color: rgb(165, 70, 255);
    font-weight: 700;
}
.maincontainer
{
    background-color: rgb(255, 189, 6);
    color: rgb(255, 255, 255);
    margin-top: 40px;
    /* border: 2px solid; */
    border-radius: 9px;
    overflow-y: scroll;
    height: 15rem;
}

.question
{
    font-size: 1.3rem;
    /* font-weight: 700; */
}
.answer
{
    font-size: 1rem;
    color: indigo;
    margin-bottom: 20px;

}


.sign
{
    cursor: pointer;
    /* margin-top: 7px; */
    color: black;
    font-size: 1.5rem;
   
}
.accordian
{
    border-bottom: 2px solid rgb(218, 212, 212);
}
.author
{
    color: red;
}

.footer
{
    position: fixed;
    bottom: 0;
    /* background-color:linea; */
    background-image: linear-gradient(90deg,black,rgb(7, 34, 70));
    color:white;
    height: 6rem;
   /* border: 3px solid green; */
  
}

.footer_content
{
    justify-content: center;
    /* border:2px solid white; */
    font-size: 1.5rem;
}